*{
    margin: 0px;  
}
#meni{
    min-width: 300px;
    box-shadow: 4px 5px 10px 2px rgba(0,0,0,.2);
}
.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
    border-radius: 20px;
    box-shadow: 4px 5px 10px 2px rgba(0,0,0,.3);
}
html {
    scroll-behavior: smooth;
}
img{
    border: 2px solid rgb(106, 106, 190);
}
#meni{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 80px;
    background-color: powderblue;
}
#ri1 li,#aie1 li, #tk1 li, #ae1 li{
   display: inline;
}
.ciklusi{
    margin-left: 30px;
}
#ri1 .ciklusi li:nth-child(5)::after, #ri1 .ciklusi li:nth-child(2)::after, #aie1 .ciklusi li:nth-child(3)::after,
#ae1 .ciklusi li:nth-child(3)::after, #tk1 .ciklusi li:nth-child(3)::after{
    content: "\A";
    white-space:pre;
}
.podNaslovi{
    margin-top: 40px;
}

/*MEDIA QUERY ZA RESPONSIVE WEBSITE*/

@media only screen and (min-width:300px){
    #ri1,#aie1,#tk1,#ae1{
        display: block;
        float:left;
        padding-right: 2%;
        height: 80px;
        padding-left: 5%;
        margin: 15px;
    }
    #meni{
        top: 0px;
        width: 100%; 
        height: auto;
        position:sticky;
        box-sizing: border-box;
        display: inline-block;
    }
}

@media only screen and (min-width:600px){
    #ri, #aie, #ee, #tk{
        scroll-margin-block-start: 220px;
     }
     .podNaslovi{
         scroll-margin-block-start: 220px;
     }
}
@media only screen and (min-width:500px) and (max-width:599px){
    #ri, #aie, #ee, #tk{
        scroll-margin-block-start: 350px;
     }
     .podNaslovi{
         scroll-margin-block-start:330px;
     }
}
@media only screen and (min-width:300px) and (max-width:499px){
    #ri, #aie, #ee, #tk{
        scroll-margin-block-start: 550px;
     }
     .podNaslovi{
         scroll-margin-block-start:550px;
     }
}

@media only screen and (max-width:299px){
    #meni{
        display: none;
    }
}

/*GLAVNI DIO STRANICE*/

h2{
    margin-top: 80px;
    text-align: center;
}
.predmeti{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
}
.predmeti>div{
    box-sizing: border-box;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
}
.vanAkadGodine{
    background-color: gray;
}
.izborni{
    background-color: powderblue;
}
.predmeti div p {
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0px;
    padding: 0px;
}
