*{
    margin-left: 0px;  
}
.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
html {
    scroll-behavior: smooth;
}
header{
    background-color: powderblue;
}
header + div{
    margin: 120px 0px 0px 0px;
}
#meni{
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 80px;
}
#meni>ul,li{
    list-style: none;
    margin-right: 5px;
}
#ri1 #aie1 #ae1 #tk1{
    margin: 2px;
    padding-right: 70px;
    height: 80px;
}
#ri1 li,#aie1 li, #tk1 li, #ae1 li{
    display: inline;
}

/*MEDIA QUERY ZA RESPONSIVE WEBSITE*/

@media only screen and (min-width:300px){
    #ri1,#aie1,#tk1,#ae1{
        display: block;
        float:left;
        margin: 2px;
        height: 80px;
        padding-right: 70px;
    }
    #meni{
        background-color: white;
        display: inline-block;
        width: 100%;
        padding-left: 10%;
        
    }
    header{
        background-color: white;
        display: flex;
        justify-content: center;
        width: 100%;
        height: fit-content;
    }
}

/*GLAVNI DIO STRANICE*/

h2{
    margin-top: 100px;
    text-align: center;
}
.predmeti{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
}
.predmeti>div{
    box-sizing: border-box;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
}
.vanAkadGodine{
    background-color: gray;
}
.izborni{
    background-color: powderblue;
}
.predmeti div p {
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0px;
    padding: 0px;
}
#ri, #aie, #ee, #tk{
    scroll-margin-block-start: 120px;
}
.podNaslovi{
    scroll-margin-block-start: 120px;
}