html {
    scroll-behavior: smooth;
   }

@media screen and (min-width:500px){

header{
    display: flex;
    justify-content: center;
}
header + div{
    margin-top: 150px;
}
#meni{
    background-color: powderblue;
    position: fixed;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 80px;
}
#meni>ul,li{
    list-style: none;
    margin-right: 5px;
}
#ri1 #aie1 #ae1 #tk1{
    margin: 0px;
    padding: 0px;
}
#ri1 li,#aie1 li, #tk1 li, #ae1 li{
    display: inline;
}
 
.ciklusi{
    padding-left: 30px;
}

}
@media screen and (max-width:500px){
    header{
        display: block;
        position: relative;
    }
    header + div{
        margin-top: 150px;
    }
    #meni{
        background-color: powderblue;
        position: fixed;
        top: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-template-rows: repeat(1,auto);
        column-gap: 80px;
    }
    #meni>ul,li{
        list-style: none;
        margin-right: 5px;
    }
    #ri1 #aie1 #ae1 #tk1{
        margin: 0px;
        padding: 0px;
        position: absolute;
    }
    #ri1 li,#aie1 li, #tk1 li, #ae1 li{
        display: inline;
    }     
    .ciklusi{
        padding-left: 30px;
    }
}

h2{
    margin-top: 100px;
    text-align: center;
}
.predmeti{
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
}
.predmeti>div{
    box-sizing: border-box;
    border: 1px solid;
    margin: 10px;
    padding: 5px;
}
.vanAkadGodine{
    background-color: gray;
}
.izborni{
    background-color: powderblue;
}
.predmeti div p {
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0px;
    padding: 0px;
}
#ri, #aie, #ee, #tk{
    scroll-margin-block-start: 120px;
}
.podNaslovi{
    scroll-margin-block-start: 120px;
}