h3{
    font-weight: lighter;
}
table th,tr,td{
    border: 1px solid;
    border-bottom: none;
    padding: 10px;
}
th,td{
    vertical-align:top;
    text-align: left;
}

table{
    border-bottom: 1px solid;
    /*Mijenjaju cellspacing="0"*/
    border-collapse: collapse; 
    border-spacing: 0;  
}


tr>.lastCelije{
    width:15px;
    height:40px;
}
.crvena{
    background-color:#eb5050;
}
.zelena{
    background-color: lightgreen;
}
.OsamKolona{
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}


