html
head
  link(rel='stylesheet' href='../css/prisustvo.css')
  link(rel='stylesheet' href='../css/predmeti.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
body
    #dugmeDiv
      button#dugme(type='button') Logout
    ul
        for p,i in predmetiLista
            li(id= 'id' + i)= p

    #container

script(src="../scripts/poziviAjax.js")
script(src="../scripts/TabelaPrisustvo.js")
script(src="../scripts/predmeti.js")

</html>