html
head
body
    button#dugme Logout
    ul
        for p,i in predmetiLista
            li(id= 'id' + i)
              a(href='#')= p

    h1 Uspjesno ste se prijavili

script(src="../scripts/poziviAjax.js")
script(src="../scripts/predmeti.js")

</html>