html
head
body
    button#dugme Logout
    ul
        for p in predmetiLista
            li= p

    h1 Uspjesno ste se prijavili

script(src="../scripts/poziviAjax.js")
script(src="../scripts/predmeti.js")

</html>